################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/

/EINV/bin/
/EINV/obj/

/EINV_ADMIN/bin/
/EINV_ADMIN/obj/

/EINV_API/bin/
/EINV_API/obj/

/EINV_Modules/bin/
/EINV_Modules/obj/

/EINV_TURNKEY/bin/
/EINV_TURNKEY/obj/

/packages/
/EINV_API/image
/EINV/csv
/EINV_API/pdf
/EINV/image
/EINV/pdf
/EINV/upload
/EINV_ADMIN/upload
/EINV_ADMIN/image
/EINV_ADMIN/pdf
/EINV_ADMIN/assets
/EINV_TOKEN/bin
/EINV_TOKEN/obj/Debug
/EINV_API/Log/
/EINV_API/App_Data/
/EINV/App_Data
/EINV_ADMIN/App_Data
/EINV/assets/js/ckfinder/_source/_Plugins/ImageResize/obj
